<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
<h3>List of users</h3>

<table>
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>E-mail</th>
        <th>Operations</th>
        <th>Roles</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.username}"></td>
        <td th:utext="${user.password}"></td>
        <td th:utext="${user.firstname}"></td>
        <td th:utext="${user.lastname}"></td>
        <td th:utext="${user.email}"></td>
        <td>
            <button th:onclick="|window.location.href='@{/admin/updateUser/{id}(id=${user.id})}'|">
                Update
            </button>
            <button th:onclick="|window.location.href='@{/admin/deleteUser/{id}(id=${user.id})}'|">
                Delete
            </button>
        </td>
        <td>
            <span th:each="role : ${user.roles}" th:text="|${role.role}; |"></span>
        </td>
    </tr>
</table>

<br>
<input type="button" value="Add"
       onclick="window.location.href = 'addNewUser'"/>
<br>
<br>
<a th:href="@{/logout}">Logout</a>
</body>
</html>